In [6]:
from Modules.CleanData import get_data
from qualifier.utils.SQL import add_new_table

In [7]:
a = get_data('09-14-2022')

In [8]:
a

     Symbol   Price  Type  Strike  ... Open Int  OI Chg      IV        Time
1907     AA   44.81   Put    43.0  ...    188.0     -19  83.62%  2022-09-14
1839     AA   44.81   Put    45.0  ...   2098.0     -27  82.53%  2022-09-14
155     AAL   14.03  Call    14.0  ...  22188.0  +2,212  58.91%  2022-09-14
159     AAL   14.03   Put    14.0  ...  16516.0  +2,156  61.74%  2022-09-14
1237   AAPL  155.31  Call   140.0  ...  21206.0    -399  75.41%  2022-09-14

[5 rows x 15 columns]

In [4]:
add_new_table(a)

2022-09-14 23:15:20,178 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("2022-09-14")
2022-09-14 23:15:20,179 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-14 23:15:20,180 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("2022-09-14")
2022-09-14 23:15:20,180 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-14 23:15:20,183 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-14 23:15:20,184 INFO sqlalchemy.engine.Engine
CREATE TABLE "2022-09-14" (
	"Symbol" TEXT,
	"Price" FLOAT,
	"Type" TEXT,
	"Strike" FLOAT,
	"Exp Date" TEXT,
	"DTE" FLOAT,
	"Bid" FLOAT,
	"Midpoint" FLOAT,
	"Ask" FLOAT,
	"Last" FLOAT,
	"Volume" FLOAT,
	"Open Int" FLOAT,
	"OI Chg" TEXT,
	"IV" TEXT,
	"Time" TEXT
)


2022-09-14 23:15:20,185 INFO sqlalchemy.engine.Engine [no key 0.00068s] ()
2022-09-14 23:15:20,188 INFO sqlalchemy.engine.Engine COMMIT
2022-09-14 23:15:20,191 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-14 23:15:20,211 INFO sqlalchemy.engine.Engine INSERT INTO "2022-09-14" ("Symbol", "Price", "Type", "Strike", "Exp Date", "DTE", "Bid", "Midpoint", "Ask", "Last", "Volume", "Open Int", "OI Chg", "IV", "Time") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-09-14 23:15:20,212 INFO sqlalchemy.engine.Engine [generated in 0.01763s] (('AA', 44.81, 'Put', 43.0, '2022-09-16', 2.0, 0.4, 0.43, 0.45, 0.41, 600.0, 188.0, '-19', '83.62%', '2022-09-14'), ('AA', 44.81, 'Put', 45.0, '2022-09-16', 2.0, 1.16, 1.2, 1.24, 1.19, 1360.0, 2098.0, '-27', '82.53%', '2022-09-14'), ('AAL', 14.03, 'Call', 14.0, '2022-09-16', 2.0, 0.26, 0.27, 0.27, 0.26, 10637.0, 22188.0, '+2,212', '58.91%', '2022-09-14'), ('AAL', 14.03, 'Put', 14.0, '2022-09-16', 2.0, 0.23, 0.24, 0.25, 0.24, 1931.0, 16516.0, '+2,156', '61.74%', '2022-09-14'), ('AAPL', 155.31, 'Call', 140.0, '2022-09-16', 2.0, 15.25, 15.4, 15.55, 15.54, 674.0, 21206.0, '-399', '75.41%', '2022-09-14'), ('AAPL', 155.31, 'Call', 150.0, '2022-09-16', 2.0, 5.45, 5.65, 5.85, 5.8, 3846.0, 48536.0, '-941', '44.45%', '2022-09-14'), ('AAPL', 155.31, 'Call', 152.5, '2022-09-16', 2.0, 3.5, 3.58, 3.65, 3.6, 9040.0, 17736.0, '+645', '38.43%', '2022-09-14'), ('AAPL', 155.31, 'Call', 155.0, '2022-09-16', 2.0, 1.88, 1.89, 1.9, 1.9, 80360.0, 48254.0, '-773', '36.40%', '2022-09-14')  ... displaying 10 of 847 total bound parameter sets ...  ('Z', 35.66, 'Call', 35.0, '2022-09-16', 2.0, 1.1, 1.14, 1.17, 1.13, 698.0, 1124.0, '-30', '72.05%', '2022-09-14'), ('ZIM', 31.53, 'Call', 32.0, '2022-09-16', 2.0, 0.55, 0.6, 0.65, 0.5, 2724.0, 354.0, '-32', '89.76%', '2022-09-14'))
2022-09-14 23:15:20,215 INFO sqlalchemy.engine.Engine COMMIT
2022-09-14 23:15:20,218 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-09-14 23:15:20,218 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-14 23:15:20,220 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-09-14 23:15:20,221 INFO sqlalchemy.engine.Engine [raw sql] ()

['2022-09-14']